<div class="discussion">
  <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);">
  </div>
  <div class="desc-contact">
    <p class="name"><%= link_to room.name, room %></p>
    <p class="message">Hello
    </p>
  </div>
  <div class="timer">42 min</div>
</div>
